#myCanvas
 {
    background-color: black;
    border-radius: 10px;
    border-color: white;
 }
.heading h3
{
display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}
#start ,#status
{
    font-size: 22px;
}

h4
{
    background-color: blanchedalmond;
    line-height: 2;
    margin: 0px;
}
.modal-dialog
{
    width: 90%;
}
video
{
    background: url('Red Border.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
    
}


  