
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.big_image{
    width: 100%;
}
#start,#restart{
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    color: goldenrod;
    bottom: 0;
    width: 100%;
    background-color:rgb(197, 99, 151);
    line-height: 3;
    text-align: center;
    }